{% extends "main_layout.html" %}
{% block header %}
    <!-- header area -->
 	<header>
		<div id="header">
			header area
		</div>
	</header>


{% endblock %}

{% block contents_side %}
			<div id="contents_side">
				<div class ="side_menu" >
					<a class = "side_menu_list" href ="/keyword">
						<span class ="icon-board">K</span>
						<span>keyword</span>
					</a>

					<a class = "side_menu_list" href ="/cupang">
						<span class ="icon-board">C</span>
						<span>cupang</span>
					</a>

					<a class = "side_menu_list" href ="/news">
						<span class ="icon-board">N</span>
						<span>news</span>
					</a>
				</div>
			</div>
{% endblock %}

{% block cupang  %}
			<div id="section">
				cupang
			</div>
{% endblock %}

{% block keyword %}
			<div id="section">
				keyword
				<div class="section_list_row">
					<div class="section_list_rownum">
						<a>번호</a>
					</div>
					<div class="section_list_title">
						<a>제목</a>
					</div>

				</div>
				{% for data in datas %}
				<div class="section_list_row">
					<div class="section_list_rownum">
						<a>{{loop.index}}</a>
					</div>


					<div class="section_list_title">
						<a href="" target="_blank"> {{data}} </a>
					</div>



				</div>
				{% endfor %}
			</div>

{% endblock %}


{% block keyword_list %}
			<div id="section">
				keyword
				<div class="section_list_row">
					<div class="section_list_rownum">
						<a>번호</a>
					</div>
					<div class="section_list_title">
						<a>제목</a>
					</div>
					<div class="section_list_date">
						<a>날짜</a>
					</div>
					<div class="section_list_time">
						<a>시간</a>
					</div>
				</div>
				{% for data in datas %}
				<div class="section_list_row">
					<div class="section_list_rownum">
						<a>{{loop.index}}</a>
					</div>


					<div class="section_list_title">
						<a href="{{data[5]}}" target="_blank"> {{data[4]}} </a>
					</div>

					<div class="section_list_date">
						<a> {{data[1]}} </a>
					</div>

					<div class="section_list_time">
						<a> {{data[2]}} </a>
					</div>
				</div>
				{% endfor %}
			</div>

{% endblock %}


{% block news %}
			<div id="section">
				news
			</div>
{% endblock %}

{% block footer %}
	<footer id="footer">
		footer area
	</footer>
{% endblock %}