<!DOCTYPE html>
<html lang="ko">

<head>
 {% include './common/common_head.html' ignore missing %}
</head>
<body>
    <!-- header area -->

 {% include './common/common_header.html' ignore missing %}

	<!-- contents area -->
	<div id="contents">
			<!-- aside area -->

            {% include './common/common_contents_side.html' ignore missing %}
			<!-- section area -->
	        {% if section == 'cupang' %}
                {% include './service/section_main_cupang.html' %}
            {% elif section == 'keyword' %}
                {% include './service/section_main_keyword.html' %}
            {% elif section == 'news' %}
                {% include './service/section_main_news.html' %}
            {% endif %}

	</div>
	<!-- footer area -->
    {% include './common/common_footer.html' ignore missing %}

</body>
</html>